{% extends "_layout.html" %}

{% block title %}今日のメニュー{% endblock %}

{% block main %}
  <div align=center><h2>本日のメニュー</h2></div>
  <div align=center><table border>
    <tr>
      <td>Aセット</td>
      <td>{% name %}
        {% price %}円
      </td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>Bセット</td>
      <td>{% name %}
      {% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
  </table></div>

  <div align=center><h2>常設メニュー</h2></div>
  <div align=center><table border>
    {% for product in products %}

    {% endfor %}
    <tr>      
    </tr>
    <tr>
      <td>カツカレー</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>親子丼</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>カツ丼</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>カレーうどん</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>味噌ラーメン</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>かけうどん</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>かけそば</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>チャーハン</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>ライス</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
    <tr>
      <td>和麵トッピング(わかめ・きつね揚げ・かき揚げ)</td>
      <td>{% price %}円</td>
      <td>{% out_of_stack %}</td>
    </tr>
  </table></div>
{% endblock %}