{% extends "_layout.html" %}

{% block title %}今日のメニュー{% endblock %}

{% block main %}
  <div align=center><table class="menulist">
    <tr>
      <td style="text-align:center;">Aセット<br>
        <a class="product_link" href="/menu/{{ a.id }}">{{ a.name }}</a></td>
      <td>
        {{ a.price }}円
      </td>
      <td>
        {% if a.out_of_stock %}
          <span class="out_of_stock">売り切れ</span>
        {% else %}
          <span class="in_stock">販売中</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td style="text-align:center;">Bセット<br>
        <a class="product_link" href="/menu/{{ b.id }}">{{ b.name }}</a></td>
      <td>
        {{ b.price }}円
      </td>
      <td>
        {% if b.out_of_stock %}
          <span class="out_of_stock">売り切れ</span>
        {% else %}
          <span class="in_stock">販売中</span>
        {% endif %}
      </td>
    </tr>
  </table></div>

  <h2 style="text-align: center;">常設メニュー</h2>
  <div align=center><table class="menulist">

    {% for product in p %}
    <tr>
      <td style="text-align: center;"><a class="product_link" href="/menu/{{ product.id }}">{{ product.name }}</a>
      <td style="text-align:right;">{{ product.price }}円</td>
      <td>
        {% if product.out_of_stock %}
          <span class="out_of_stock">売り切れ</span>
        {% else %}
          <span class="in_stock">販売中</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

{% endblock %}