{% extends "_layout.html" %}

{% block title %}ログイン{% endblock %}

{% block main %}
  
  <h2>ログイン</h2>
  <hr>
  <div align="center">
    <table border="0">
      <form action="/login" method="POST">
        <tr>
          <th>
            ユーザーID
          </th>
          <td>
            <input type="text" name="sid" value="" size="24">
          </td>
        </tr>
        <tr>
          <th>
            パスワード
          </th>
          <td>
            <input type="password" name="password" value="" size="24">
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="ログイン">
          </td>
        </tr>
      </form>
    </table>
  </div>
{% endblock %}