{% extends "_layout.html" %}

{% block title %}{{product.name}}{% endblock %}

{% block main %}

  <span class="kind">
    {% if product.kind == "A" %}
      {{ product.date }}のAメニュー
    {% elif product.kind == "B" %}
      {{ product.date }}のBメニュー
    {% else %}
      単品メニュー
    {% endif %}
  </span>

  <span class="status">
    {% if product.out_of_stock %}
    売り切れ
    {% else %}
    販売中
    {% endif %}
  </span>

  <form action="/menu/{{product.id}}/out_of_stock" method="POST">
    {% if product.out_of_stock %}
      <button type="submit" name="out_of_stock" value="0">売り切れてない</button>
    {% else %}
      <button type="submit" name="out_of_stock" value="1">売り切れた</button>
    {% endif %}
  </form><br>

  <form action="/menu/{{product.id}}/tabeta" method="POST">
    <input id="tabeta" type="submit" value="食べた!">
  </form>

{% endblock %}