{% extends "_layout.html" %}

{% block title %}{{product.id}}{% endblock %}

{% block main %}

    {% if product.out_of_stock %}
    <a>売り切れ</a>
    {% else %}
    <a>販売中</a>
    {% endif %}

    <form action="/menu/{{product.id}}/tabeta" method="POST">
      <input id="tabeta" type="submit" value="食べた!" onclick="tabeta()">
    </form>

    <form action="/menu/{{product.id}}/urikire" method="POST">
      <input id="urikire" type="submit" value="売り切れ" onclick="hyouji(this, 1)">
      <input id="urikiretenai" type="submit" value="売り切れてない" onclick="hyouji(this, 0)">
    </form>

    <script>
      function tabeta(){
        const data = {
          id:elem.dataset.id
        }
      }

      function hyouji(elem, num){
        const data = {
          out_of_stock: num,
          id: elem.dataset.id
        }
        if(num == 0){
          document.getElementById("urikire").style.display="";
          document.getElementById("urikiretenai").style.display="none";
        } else {
          document.getElementById("urikire").style.display="none";
          document.getElementById("urikiretenai").style.display="";
        }
      }
    </script>
{% endblock %}