{% extends "_layout.html" %}

{% block title %}新規登録{% endblock %}

{% block main %}

<h2>新規登録</h2>
<hr>
<div align="center">
  <table border="0">
    <form action="/register" method="POST">
      <tr>
        <th>
          ユーザーID
        </th>
        <td>
          <input type="text" name="sid" value="" size="24">
        </td>
      </tr>
      <tr>
        <th>
          パスワード
        </th>
        <td>
          <input type="password" id="password" name="password" value="" size="24">
        </td>
      </tr>
      <tr>
        <th>
          パスワード(再確認)
        </th>
        <td>
          <input type="password" id="password_confirm" name="password_confirmation" value="" size="24">
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="登録">
        </form>
      </td>
    </tr>
  </form>
</table>
</div>

{% endblock %}
